<%- include('includes/head', { pageTitle: 'An error has occured!' })  %>
    
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <h1>Uh Oh!</h1>
        <p>I swear this never happens to me. Please try again later.</p>
        <p><a class="btn" href="/">Leave Awkwardly</a></p>
    
    </main>
<%- include('includes/footer') %>